@use "@angular/material" as mat;

@include mat.core();

$my-palette: mat.define-palette(mat.$indigo-palette);

:host {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid lightgray;

  img {
    margin: 5px;
  }

  h1 {
    margin: auto 10px auto;
    color: mat.get-color-from-palette($my-palette, 600);
    cursor: pointer;
  }
}
